body {
    background-color: #7ebc89;
}

.top {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding:  10px;
    display: block;
    background-color: #fe5d26;
    width: 800px;
    height: 100px;
}

.name {
    font-family: "Lucida Console", monospace;
    font-weight: bold;
    color: #c1dbb3;
}